@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.header-container {
  display: flex;
  width: 100%;
  font-family: Comfortaa, serif;
  font-size: large;

  .header-container-side {
    width: 50%;
    display: flex;
    padding: 20px 0px;

    .header-container-element {
      padding: 10px;
      text-decoration: none;
      margin-right: 50px;
      color: black;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .header-container-left {
    justify-content: left;
  }

  .header-container-right {
    justify-content: right;
  }
}
