.category-preview-container {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 20px;
  }

  .category-preview-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
  }
}
